{
    "openapi": "3.0.0",
    "info": {
        "title": "Blogs Api Documentation",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can register by email and password",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "user_name",
                                    "email",
                                    "phone_number",
                                    "password",
                                    "confirm_password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Noura"
                                    },
                                    "user_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Noura19"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Noura@example.com"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "0555555555"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    },
                                    "confirm_password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User successfully registered"
                    },
                    "404": {
                        "description": "validator error"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can login by email or username and password",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Noura"
                                    },
                                    "user_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Noura19"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successfully"
                    },
                    "401": {
                        "description": "invalid credentials"
                    }
                }
            }
        },
        "/forgot": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can reset my passsword",
                "operationId": "forgot",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "muhnd@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A code has been sent to your email address"
                    },
                    "404": {
                        "description": "Incorrect Email Address"
                    }
                }
            }
        },
        "/reset": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can reset my passsword",
                "operationId": "reset",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password",
                                    "confirm_password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "muhnd@example.com"
                                    },
                                    "token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1234"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    },
                                    "confirm_password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password Reset Success"
                    },
                    "404": {
                        "description": "Token mismatch"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can log out",
                "operationId": "logout",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logged out"
                    }
                }
            }
        },
        "user/updatePassword": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can change my password",
                "operationId": "updatePassword",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage1234"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage12345"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage12345"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Your current password is change"
                    },
                    "401": {
                        "description": "Your current password is incorrect"
                    },
                    "402": {
                        "description": "Some error happened , please try again"
                    }
                }
            }
        },
        "user/profile/edit": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can update on my profile",
                "operationId": "updateProfile",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "0555555555"
                                    },
                                    "user_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage23"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Garage@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update successfully"
                    },
                    "402": {
                        "description": "Some error happened , please try again"
                    }
                }
            }
        },
        "user/profile": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "as a user i can show my profile",
                "operationId": "profile",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "user_name": {
                                                    "type": "string",
                                                    "example": "User"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "munhd"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "muhnd@example.com"
                                                },
                                                "phone_number": {
                                                    "type": "string",
                                                    "example": "0552318312"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2022-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2022-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User fetched successfully!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/category": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get list of Category",
                "description": "Returns list of categorities",
                "operationId": "getCategory",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 3
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sport"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Sport .."
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Categories retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "as a admin i can add category",
                "operationId": "category",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sport"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sport .. "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sport"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Sport .."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Create category successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/category/{id}": {
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "as a admin i can update on category",
                "operationId": "updatecategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sport"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sport .. "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 3
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sport"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Sport .."
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Update category successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "as a admin i can delete category",
                "operationId": "deletecategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 3
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sport"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Sport .."
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comment/{post_id}": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "As a user I can show all my comments",
                "operationId": "getmycomment",
                "parameters": [
                    {
                        "name": "post_id",
                        "in": "path",
                        "description": "Post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "user_name": {
                                                    "type": "string",
                                                    "example": "Muhnnd"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Muhnnd"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "muhnd@exmaple.com"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Good post"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "you dont have any comment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comment": {
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "As a user I can add comment on post",
                "operationId": "addcomment",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id",
                                    "content"
                                ],
                                "properties": {
                                    "post_id": {
                                        "type": "number",
                                        "format": "string",
                                        "example": 1
                                    },
                                    "content": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Good post "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Good post"
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                },
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Added Comment Success!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comment/{id}": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "As a user I can show all comments on the post",
                "operationId": "showcomment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "user_name": {
                                                    "type": "string",
                                                    "example": "Muhnnd"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Muhnnd"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "muhnd@exmaple.com"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Good post"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Added Comment Success!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comment/{comment_id}": {
            "put": {
                "tags": [
                    "Comment"
                ],
                "summary": "As a user I can update on my comment",
                "operationId": "updatecomment",
                "parameters": [
                    {
                        "name": "commnt_id",
                        "in": "path",
                        "description": "Comment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Good post "
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Good post"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Update comment successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comment"
                ],
                "summary": "As a user I can update on my comment",
                "operationId": "deletecomment",
                "parameters": [
                    {
                        "name": "commnt_id",
                        "in": "path",
                        "description": "Comment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Good post"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "As a user I can upload file",
                "operationId": "addfile",
                "parameters": [
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "request": "Files",
                    "description": "Upload File",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "post_id": {
                                        "type": "number"
                                    },
                                    "file_name": {
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "file_name": {
                                                    "type": "string",
                                                    "example": "950_374d1a8979.png"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "uploads/vwvE7kZ0UaniOCoSyLitp0krNyIhOQD2OaH6pnbD.png"
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                },
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Added file successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{id}": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "As a user I can update file",
                "operationId": "updatefile",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "request": "Files",
                    "description": "Upload File",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "file_name": {
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Update file successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "As a user I can delete file",
                "operationId": "deletefile",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bearerAuth",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "example": 8
                                                },
                                                "user_id": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "post_id": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "file_name": {
                                                    "type": "string",
                                                    "example": "950_374d1a8979.png"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "uploads/vwvE7kZ0UaniOCoSyLitp0krNyIhOQD2OaH6pnbD.png"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-06-28 06:06:17"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2023-06-28 06:06:17"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Added file successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "title": "User",
                "description": "User model",
                "xml": {
                    "name": "User"
                }
            }
        },
        "responses": {
            "404": {
                "description": "No such Found!"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Category",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Post",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Favorite",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Comment",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Files",
            "description": "API Endpoints of Projects"
        }
    ]
}